* {
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-blue {
    background-color: #031119;
}

.active {
    color: #b58429 !important;
}

.bg-subtle-blue {
    background-color: #1b262c;
}

.btn-warning {
    background-color: #b58429 !important;
    border-color: #b58429 !important;
}

.py-100 {
    padding-block: 80px;
}

.nav-item:hover a {
    color: #b58429 !important;
}

.mainBanner {
    background-color: #031119;
    margin-top: -80px;
    padding-top: 50px;
}

.mainBanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.02) 0px, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 10px);
}

.navbar-brand {
    letter-spacing: 5px;
    font-family: cursive;
}


.btn.main-btn {
    transition: .3s all ease-in-out;
}

.btn.main-btn:hover {
    background-color: white !important;
    color: black !important;
}

.fs-sm {
    font-size: 14px;
}

.hero-btn {
    transition: .3s all ease-in-out;
}

.hero-btn span {
    transition: .3s all ease-in-out;
}

.hero-btn:hover span {
    padding-left: 15px !important;
    color: white !important;
}

.hero-btn:hover {
    background-color: #b58429;
    border-color: #b58429 !important;
    color: white !important;
}

.about-section {
    background-color: #031119;

}

.base-title::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0px;
    border: 1px solid #b58429;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-img {
    animation: up-down infinite 5s linear;
}

.campaign-label {
    background: rgba(0, 0, 0, 0.186);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.126);
}

.campaign-btn {
    width: 30px;
    aspect-ratio: 1;
    display: block;
    background-color: #b58429;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.about-card {
    background-color: #1b262c;
}

.client-card {
    background-color: #1b262c;
}

.client-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.swiper-button-next1 {
    width: 50px;
    height: 50px;
    background-color: #1b262c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s all linear;
}

.swiper-button-prev1 {
    width: 50px;
    height: 50px;
    background-color: #1b262c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s all linear;
}

.swiper-button-next1:hover,
.swiper-button-prev1:hover {
    background-color: #b58429;
}

.service-card {
    border: 2px solid rgba(255, 255, 255, 0.144);
    padding: 35px;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s all ease-in-out;
    position: relative;
}

.service-card::after {
    background-color: #1b262c;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(70% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    transition: .3s all ease-in-out;
    opacity: 0;
}

.service-card:hover::after {
    opacity: 1;
}

.service-card h4,
.service-card p {
    transition: .3s all linear;
}

.service-card:hover h4 {
    color: #b58429;
}

.service-card:hover p {
    color: white !important;
}

.service-hidden-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #b58429;
    transition: .3s all ease-in-out;
}

.service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1f1a;
}

.service-card:hover .service-hidden-icon {
    opacity: 1;
    right: 10px;
    top: 10px;
}

.step-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #b5842982;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-vertical-line::after {
    position: absolute;
    content: "";
    height: 100%;
    border: 1px solid #b5842980;
    right: 50%;
    top: 0;
}

.team-social li {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s all linear;
}

.team-social li:hover {
    color: #b58429;
    border-color: #b58429;
}


.accordion-button.acc-btn {
    background-color: #1b262c;
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 10px !important;
    transition: .3s all ease-in-out;
}

.accordion-button.acc-btn:hover {
    color: #b58429;
}

.accordion-button.acc-btn:focus {
    color: #b58429;
}

.accordion-item.acc {
    background-color: #1b262c;
    border: none;
    border-radius: 10px !important;
}



.accordion-button::after {
    filter: invert(1);
}

.contact-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2f322c;
    font-size: 25px;
}

.contact-form {
    margin-top: -150px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: none;
    border: 1px solid #b58429;

}

.contact-form textarea {
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-form input {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contact-form .text-secondary.fs-5.position-absolute {
    left: 15px;
    top: 12px;
}

.footer-link li {
    transition: .3s all linear;
    cursor: pointer;
}

.footer-link li:hover {
    padding-left: 10px;
    list-style: disc;
    color: #b58429;
}

@media (max-width: 992px) {
    .py-100 {
        padding-block: 30px;
    }
}